body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: large;
  padding: 1em 3em;
}

p1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  padding: 1em 3em;
}

p2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  padding: 1em 3em;
}

p3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  padding: 1em 3em;
}

#dashboard {
  display: grid;
  grid-template-columns: 1fr 3fr ;
  grid-template-rows: 1fr;
  column-gap: 2em;
}

#scatter {
  display: grid;
}

#table {
  grid-row-start: 1;
  grid-row-end: span 2;
}

#barchart, #geo {
  padding-top: 1em;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid white;
}

tbody {
  width: 100%;
  display: block;
  height: 70vh;
  overflow: scroll;
}

th,
td {
  text-align: left;
  padding: 0.5em;
  cursor: pointer;
  font-weight: lighter;
  text-transform: capitalize;
}

tr:hover {
  font-weight: 900;
}

#geo {
  display: flex;
  flex-direction: row;
}

.metric {
  flex-grow: 1;
  text-align: center;
}

.metric > .number {
  color: #ccc;
  font-size: 25px;
}

#tooltip {
  display: block;
  height: 50px;
}

path.state {
  stroke: black;
}

.dot {
  cursor: pointer;
  color: steelblue;
  opacity: 0.5;
}

.dot:hover {
  fill: orange;
}

.axis-label {
  font-size: 14px;
  fill: black;
  text-anchor: middle;
}

.trend {
  fill: none;
  stroke: black;
}

.tooltip {
  display: block;
  height: fit-content;
  background-color: steelblue;
  opacity: 0.8;
  pointer-events: none;
  padding: 5px;
  position: absolute;
}
